@(donation: viewmodels.donation.ProjectDonationData) {
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <header class="page-header">
                    <h2>Du hast für <strong>@donation.project.getTitle()</strong> gespendet</h2>
                </header>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="add-note">Wie funktioniert die Kontaktaufnahme?</label>
                        <h5><p>Sende mir die Güter einfach per Post an die folgende Adresse:
                            Claudia Hofstetter
                            Holzrai 7
                            Kreis 999
                            8000 Zürich
                        </p>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" data-dismiss="modal" class="btn btn-default pull-right">Zurück zum Projekt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}