@(projectTitle : String, contact : String)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <header class="page-header">
                    <h2>Du hast für <strong>@projectTitle</strong> gespendet</h2>
                </header>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="add-note">Wie funktioniert die Kontaktaufnahme?</label>
                        <h5><p>@contact
                        </p>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" data-dismiss="modal" class="btn btn-default pull-right">Zurück zum Projekt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
