@(widgets: List[viewmodels.ProjectWidget], pageSize: Int, currentPage: Int)
        <div class="content-wrapper cause-page-section" id="page-info">
            <div class="container">
                <!-- Our Causes Section-->
                <section class="our-causes">
                        <div class="row">
                            <div class="article-list progressbar">
                                @for(widget <- widgets) {
                                <div class="cols-xs-12 col-sm-4">
                                    @project.widget(widget)
                                </div>
                                }
                            </div>
                        </div>
                </section>
                <!-- Our Causes Section End-->
                <!--Pagination Section Start Here-->
                <div class="cols-xs-12 text-center">
                    <ul class="pagination">
                            @if(pageSize > 1) {
                                @if(currentPage > 1) {
                                    <li>
                                        <a href="@routes.ProjectListController.getProjectWidgets(currentPage - 1)">Zurück</a>
                                    </li>
                                }
                                @for(i <- 0 to pageSize - 1) {
                                    <li @if(currentPage == i){class="active"}><a href="@routes.ProjectListController.getProjectWidgets(i)">@i</a></li>
                                }
                                @if(currentPage < pageSize) {
                                    <li class="active">
                                        <a href="@routes.ProjectListController.getProjectWidgets(currentPage + 1)">Weiter</a>
                                    </li>
                                }
                            } else {
                                    <li class="active">
                                        <a href="@routes.ApplicationController.index()">@pageSize</a>
                                    </li>
                            }
                    </ul>
                </div>
            </div>
        </div>

