* {
    margin: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -85px;
}

#footer, #push {
    height: 85px;
}

.brand h1 {
	font-family: 'Libre Baskerville', serif;
	color: #fff;
	margin: 0;
    font-size: 28px;
}

.contact-form .form-group.error .form-control, .contact-form .form-group.error label, .contact-form .error .form-control {
	border-color: #ff0000;
}

.progress-bar {
    background: #ecc731;
}

.btn-link:hover, .btn-default:hover, .btn-default:focus {
    background: #ecc731;
}

.progress-value:before {
    border-top: 4px solid #ecc731;
}
.btn-default:hover, .btn-default:focus, {
    border-color: #ecc731;
}

h4 {
    margin-bottom: 0;
}

.projectWidget {
    height: 310px;
}

.projectWidget .crop {
    overflow:hidden;
}
.projectWidget img {
    cursor: pointer;
    cursor: hand;
}
.projectWidget h3 {
    margin-bottom:17px;
    margin-top: 10px;
}

.projectWidget p {
    max-height: 25px;
    overflow: hidden;
    margin: 0;
}

.brand img {
    max-width: 32px;
    float: left;
    margin-right: 0.5em;
    margin-top: -2px;
}

.brand {
    min-width: 300px;
}

p.social-icons {
    margin-top: 3px;
}

.donationbtn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.donationbtn-group>.btn {
  position: relative;
  float: left;
}
.donationbtn-group .btn.active {
  border-radius: 0;
  border-color: #e7bd15;
 }
 .donationbtn-group .inpt-first.active {
   border-radius: 0;
   border-color: #e7bd15;
   background: #e7bd15;
  }
 .donationbtn-group>.btn:focus{
   outline: 0;
 }

    
.article-list-large > figure {
    max-height: 360px;
    overflow: hidden;
}

.progressbar img {
    width: 100%;
}

.projectWidget {
    text-align: left;
    margin: 25px;
}

.projectWidget .panel-body {
    padding: 0;
}

.navbar-default {
    background: #ECC731;
}

.navbar-nav > li > .dropdown-menu, .navbar-nav .open .dropdown-menu {
    background-color: #EAC11A;
}
.donation-info {
    padding-top: 28px;
}

.donation-info .donationdate {
    margin-bottom: 20px;
}

ul.nav-tabs li a {
    background-color: #E3C033;
}

.projectUserView {
    padding: 10px;
}

.projectWidget .crop {
    max-height: 200px;
    overflow: hidden;
}

.blog-details figure {
    max-height: 350px;
    overflow: hidden;
    width: 100%;
}

.myDonation {
    margin-bottom:60px;
}

.tab-content {
    padding: 30px 20px 30px;
}

.parsley-errors-list li {
    color: rgb(213, 72, 72);
    list-style: none;
}

.parsley-errors-list{
    padding-left: 0;
}

.bootstrap-datetimepicker-widget .list-unstyled li:before {
    color: #fff !important;
    content: "";
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #e7bd15 !important;
}
