@()
<header class="page-header section-header">
    <h2>Spende in <strong>drei einfachen Schritten</strong></h2>
</header>

<div class="col-xs-12 text-center">

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">1</span>
            <h4 class="normal-text">Such dir ein Projekt</h4>
        </div>
    </div>

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">2</span>
            <h4 class="normal-text">Wähle aus was du spenden möchtest</h4>
        </div>
    </div>

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">3</span>
            <h4 class="normal-text">Der Organisator wird dich kontaktieren</h4>
        </div>

    </div>
</div>
