@(projectDetail: viewmodels.ProjectDetail)
<div class="row tab-wrap">
    <div class="col-sm-12">
        <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
            <li class="active"><a href="#first_title" role="tab" data-toggle="tab">Beschreibung</a></li>
            <li><a href="#second_title" role="tab" data-toggle="tab">Spendenübersicht</a></li>
            <li><a href="#third_title" role="tab" data-toggle="tab">Spender</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="first_title">
                <h5>@projectDetail.getProject().getDescription()</h5>
            </div>

            @if(projectDetail.getProject().getDonationGoals().size() > 0) {
            <div class="tab-pane" id="second_title">
                @for(donationGoal <- projectDetail.getProject().getDonationGoals()) {
                <h5>@donationGoal.getType().getName() (@projectDetail.getStateOfDonationGoal(donationGoal) von @donationGoal.getAmount() Stück)</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@projectDetail.getStateOfDonationGoalInPercent(donationGoal)" aria-valuemin="0" aria-valuemax="100">
                        <span class="progress-value">@projectDetail.getStateOfDonationGoalInPercent(donationGoal) %</span>
                    </div>
                </div>
                }
            </div>
            }

            <div class="tab-pane AddtoCart" id="third_title">
                @if(projectDetail.getDonators().isEmpty()) {
                <h5>Es hat leider noch niemand für dein Projekt gespendet.</h5>
                }
                @for(user <- projectDetail.getDonators()) {
                <h3>@user.getFirstName() @user.getLastName()</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50">Datum</th>
                        <th width="50">Anzahl</th>
                        <th>Spendengut</th>
                        <th>Notiz</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(donation <- projectDetail.getDonationsForUser(user)) {
                    <tr>
                        <td class="product-image">
                            @donation.getDate().format("d.M")
                        </td>
                        <td class="product-image">
                            @donation.getAmount()
                        </td>
                        <td class="product-image">
                            @donation.getDonationGoal().getType().getName()
                        </td>
                        <td class="product-image">
                            @donation.getMessageToCollector()
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
                }
            </div>
        </div>
    </div>
</div>