@(project : models.Project, isProjectOwner : Boolean)

<aside class="media">
    <h3 class="space-top">News</h3>
    <ul>
        @for(news <- project.getNews) {
        <li>
            <a href="@routes.NewsController.getNews(news.getId())" class="pull-left">
                <figure>
                    <img src="@news.getImageURL()" alt="" height="98" width="98"/>
                </figure>
            </a>
            <div class="media-body">
                <p>
                    <a href="@routes.NewsController.getNews(news.getId())">
                        @news.getTitle()
                    </a>
                </p>
                <span> @news.getDate().format("d.M.Y") </span>
            </div>
        </li>
        }
        @if(project.getNews().isEmpty()) {
        <li>
            <p>Es sind noch keine News erfasst worden.</p>
        </li>
        }
        @if(isProjectOwner) {
        <li>
            <a data-toggle="modal" data-target=".news-form" class="btn btn-default btn-xs pull-right">News erfassen</a>
        </li>
        }
    </ul>
</aside>