<header id="header">
    <div class="container">
        <div class="row primary-header">
            <div class="col-xs-12 col-sm-6 col-md-6 brand">
                <a href="@routes.ApplicationController.index()" class="brand title" title="Welcome to BringToAfrica">
                    <img src="@routes.Assets.at("img/give_white.png")"/>
                    <h1>BringToAfrica</h1>
                </a>
            </div>
            <div class="social-links hidden-xs col-sm-6 col-md-6">
                @if(ApplicationController.getCurrentUser() == null) {
                <a href="@routes.LoginController.login()" class="btn btn-default btn-volunteer">Login</a>
                } else {
                <a href="@routes.LoginController.logout()" class="btn btn-default btn-volunteer">Logout</a>

                <p class="social-icons">Willkommen @ApplicationController.getCurrentUser().getFirstName()</p>
                }
            </div>
        </div>
    </div>
    @navbar()
</header>
