<header id="header">
    <div class="container">
        <div class="row primary-header">
            <a href="@routes.ApplicationController.index()" class="col-xs-12 col-sm-2 brand title"
               title="Welcome to Charity">
                <h1>BringToAfrica</h1>
            </a>

            <div class="social-links col-xs-12 col-sm-10">
                @if(ApplicationController.getCurrentUser() == null) {
                <a href="@routes.LoginController.login()" class="btn btn-default btn-volunteer">Login</a>
                } else {
                <a href="@routes.LoginController.logout()" class="btn btn-default btn-volunteer">Logout</a>

                <p class="social-icons">Willkommen @ApplicationController.getCurrentUser().getFirstName()</p>
                }
            </div>
        </div>
    </div>
    @navbar()
</header>