@(widget: viewmodels.ProjectWidget, project: models.Project, donateForm: Form[viewmodels.DonationData])

@main("BringToAfrica") {
<div class="cause-page content-wrapper" id="page-info">
    <div class="container">

        <!-- our causes detail-->

        <div class="anim-section">
            <div class="row">
                <div class="col-xs-12 col-sm-9 left-block">

                    <div class="article-list-large causes-description progressbar">

                        <div class="anim-section">

                            <figure>
                                <img src="@project.getImageURL()" alt="">
                            </figure>

                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                    <span class="progress-value">@widget.getState()</span>
                                </div>
                            </div>

                            <div class="heading-sec text-left">
                                <h3 class="h4">@project.getTitle()</h3>
                                <span class="date-desc">Start: @project.getStartsAt() Ende:@project.getEndsAt()</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">

                                    <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                    <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default pull-right">DONATE NOW</a>
                                </div>
                            </div>

                            <div class="detail-description">

                                <p class="detail-summary">
                                    @project.getDescription()
                                </p>
                                <p>
                                    Future stuffs also goes placerat vel augue vitae aliquam tincidunt dolor sed hendrerit diam in mattis mollis donec ut tincidunt magna niullam hendrerit pellen tesque pellentesque sed ultrices arcu non dictum porttitor nam ac leo arcu aliquam erat volutpat suspendisse eget
                                </p>

                                <p>
                                    augue vitae aliquam tincidunt dolor sed hendrerit diam in mattis mollis donec ut tincidunt magna nullam hendrerit pellentesque pellentesqu e sed ultrices arcu non dictum porttitor nam ac leo arcu aliquam erat volutpat suspendisse eget congue justo class aptent taciti sociosqu adlitora torquent per conubia nostra per inceptos himenaeos Lorem ipsum dolor sit coopnsectetur adipiscing elit ellentesque  future stuffs also goes placerat vel Lorem ipsum dolor sit coopnsectetur adipiscing elit ellentesque
                                </p>

                                <ul class="list-trangled">
                                    <li>
                                        Praesent congue magna quis sodales porta.
                                    </li>
                                    <li>
                                        Phasellus et quam ac leo varius tincidunt.
                                    </li>
                                    <li>
                                        Maecenas non velit eu quam tincidunt euismod id non nulla.
                                    </li>
                                    <li>
                                        Sed non felis sit amet augue tincidunt aliquam a in sem.
                                    </li>
                                </ul>

                                <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                            </div>
                            <!--step donation-->

                            <div class="step-donation sec-step-med causes-details-step anim-section">

                                <header class="page-header section-header">
                                    <h2>Wie du Spenden kannst, <strong>Einfache Schritte</strong></h2>
                                </header>

                                <div class="col-xs-12 text-center">

                                    <div class="cols-xs-12 col-sm-4">
                                        <div class="sec-step-desc">
                                            <span class="number-count">1</span>
                                            <h4 class="normal-text">Wähle aus was du Spenden möchtest</h4>
                                            <p>
                                                Gib an wieviel du pro Spendenkategorie spenden möchtest.
                                            </p>
                                        </div>

                                    </div>

                                    <div class="cols-xs-12 col-sm-4">
                                        <div class="sec-step-desc">
                                            <span class="number-count">2</span>
                                            <h4 class="normal-text">Klick auf Spende erfassen</h4>
                                            <p>
                                                So einfach gehts!
                                            </p>
                                        </div>

                                    </div>

                                    <div class="cols-xs-12 col-sm-4">
                                        <div class="sec-step-desc">
                                            <span class="number-count">3</span>
                                            <h4 class="normal-text">Kontaktiere den Organisator des Spendenprojekts</h4>
                                            <p>
                                                Der Organisator hat vorab angegeben, wie du mit ihm/ihr in Kontakt treten kannst.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!--step donation-->

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-3 left-block ">
                    <aside class="media">
                        <h3 class="space-top">News</h3>
                        <ul>
                            <li>
                                <a href="#" class="pull-left">
                                    <figure>
                                        <img src="assets/img/aside-img-01.jpg" alt="" />
                                    </figure>
                                </a>
                                <div class="media-body">
                                    <p>
                                        <a href="#">
                                            Fusce mauris enim faci lisis sceler
                                        </a>
                                    </p>
                                    <span> 23, March’14 </span>
                                </div>
                            </li>

                            <li>
                                <a href="#" class="pull-left">
                                    <figure>
                                        <img src="assets/img/aside-img-02.jpg" alt="" />
                                    </figure>
                                </a>
                                <div class="media-body">
                                    <p>
                                        <a href="#">
                                            Mauris enim faci lisis sceler isque non
                                        </a>
                                    </p>
                                    <span> 23, March’14 </span>
                                </div>
                            </li>

                            <li>
                                <a href="#" class="pull-left">
                                    <figure>
                                        <img src="assets/img/aside-img-03.jpg" alt="" />
                                    </figure>
                                </a>
                                <div class="media-body">
                                    <p>
                                        <a href="#">
                                            Enim faci lisis sceler isque nonmauris
                                        </a>
                                    </p>
                                    <span> 23, March’14 </span>
                                </div>
                            </li>
                        </ul>

                    </aside>

                    <!-- Archives   -->
                    <aside class="media">
                        <h3>Archives</h3>
                        <ul class="archives">
                            <li>
                                <a href="#">
                                    March 2013 <span class="pull-right">(12)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    February 2013 <span class="pull-right">(12)</span>
                                </a>
                            </li>
                            <li><a href="#">
                                January 2013 <span class="pull-right">(43)</span>
                            </a>
                            </li>
                            <li><a href="#">
                                December 2012 <span class="pull-right">(12)</span>
                            </a>
                            </li>
                            <li>
                                <a href="#">
                                    November 2012 <span class="pull-right">(32)</span>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <!-- Categories  -->
                    <aside class="media">
                        <h3>Categories</h3>
                        <ul class="archives">
                            <li>
                                <a href="#">
                                    Integer <span class="pull-right">(20)</span>
                                </a>
                            </li>
                            <li><a href="#">
                                Accumsan <span class="pull-right">(18)</span>
                            </a>
                            </li>
                            <li><a href="#">
                                Fermentum <span class="pull-right">(15)</span>
                            </a>
                            </li>
                            <li>
                                <a href="#">
                                    Vehicula <span class="pull-right">(12)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Magna <span class="pull-right">(30)</span>
                                </a>
                            </li>

                        </ul>
                    </aside>

                    <!-- Text Widget -->
                    <div class="text-widget">
                        <h3>Text Widget</h3>
                        <p>
                            Placerat vel augue vitae aliquam tinciuntool sed hendrerit diam in mattis ollis don ec  tincidunt magna nullam hedrerit pellen tesque pelle.
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <!-- our causes detail-->

    </div>

</div>
} {
    @donate(donateForm)
}