@(donateForm: Form[viewmodels.DonationData])
<div aria-hidden="true" style="display: none;" class="modal donate-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <header class="page-header">
                    <h2>Spenden</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="add-note">Wie funktioniert die Kontaktaufnahme?</label>
                            <h5><p>Sende mir die Güter einfach per Post an die folgende Adresse:
                                Claudia Hofstetter
                                Holzrai 7
                                Kreis 999
                                8000 Zürich
                            </p>

                            </h5>
                        </div>
                    </div>
                </header>
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>Wieviel möchtest du spenden?</label>

                                <div class="choose-pricing">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default active">
                                            1
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            2
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            3
                                        </button>

                                        <input placeholder="Eingabe" class="inpt-first form-control" type="number">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row display">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="dropdown">
                                    <button class="btn btn-width dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <small>Spendenkategorie</small>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">Laptop</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">Maus</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#">Tastatur</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="add-note">Zusätzliche Notiz</label>
                            <textarea class="form-control" id="add-note"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <input value="Spenden" class="btn btn-default pull-right" type="submit">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group col-xs-12">
                                <p class="forms-notes">
                                    Fehlermeldung: Keine Spendenkategorie gewählt
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
