@(projektDataForm: Form[viewmodels.ProjectData])

@main("BringToAfrica") {
    <div class="container" id="page-info">
        <div class="row">
            <div class="col-xs-12">
                <section class="checkout anim-section animate">
                    <div class="row">
                        <div class="tab-wrap col-sm-12">
                                <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
                                <li class="col-sm-4 active"><a href="#projectdata" role="tab" data-toggle="tab">1. Projektdaten</a></li>
                                <li class="col-sm-4"><a href="#waren" role="tab" data-toggle="tab">2. Waren</a></li>
                                <li class="col-sm-4"><a href="#contact" role="tab" data-toggle="tab">3. Kontakt</a></li>
                            </ul>
                            @helper.form(action = routes.ProjectController.addProjectData, 'role -> "form") {
                                    <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="projectdata">
                                        @projectdata(projektDataForm)
                                    </div>
                                    <div class="tab-pane" id="waren">
                                        @waren(projektDataForm)
                                    </div>
                                    <div class="tab-pane" id="contact">
                                        @contact(projektDataForm)
                                    </div>
                                </div>
                            }
                            @if(projektDataForm.hasErrors()) {
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    @for((key, value) <- projektDataForm.errors) {
                                        @for(err <- value) {
                                            @err.message().toString() <br/>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
} {
    <script type='text/javascript' src='@routes.Assets.at("js/newProject.js")'></script>
}
