@(project: models.Project, projectDetail: viewmodels.ProjectDetail, donateForm: Form[viewmodels.donation.CreateDonationData], newsDataForm: Form[viewmodels.NewsData], isAuthenticated: Boolean, isProjectOwner: Boolean)

@main("BringToAfrica") {
    <div class="cause-page content-wrapper" id="page-info">
        <div class="container">
            <div class="anim-section">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 left-block">
                        <div class="article-list-large causes-description progressbar">
                            <div class="anim-section">
                                <figure>
                                    <img src="@projectDetail.getImageURL()" alt="">
                                </figure>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@projectDetail.getState()" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">@projectDetail.getState()%</span>
                                    </div>
                                </div>

                                <div class="heading-sec text-left">
                                    <h3 class="h4">@projectDetail.getTitle()</h3>
                                    <span class="date-desc">Start: @projectDetail.getStartsAt()  |  Ende: @projectDetail.getEndsAt()</span>
                                    @if(isAuthenticated) {
                                        <a data-toggle="modal" data-target=".donate-form" class="btn btn-default pull-right">Spenden</a>
                                    }
                                </div>
                            </div>
                                <div class="row tab-wrap">
                                    <div class="col-sm-12">
                                            <!-- Nav tabs -->
                                        <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
                                            <li class="active"><a href="#first_title" role="tab" data-toggle="tab">Beschreibung</a></li>
                                            <li><a href="#second_title" role="tab" data-toggle="tab">Spendenübersicht</a></li>
                                            <li><a href="#third_title" role="tab" data-toggle="tab">Spender</a></li>
                                        </ul>

                                            <!-- Tab panes -->
                                        <div class="tab-content">
                                            @details.tabs(projectDetail)
                                        </div>
                                    </div>
                                </div>
                                    <!--step donation-->
                                <div class="step-donation sec-step-med causes-details-step anim-section">
                                    @details.description()
                                </div>
                            </div>

                        </div>
                    <div class="col-xs-12 col-sm-3 left-block ">
                        @details.sidebar(project, isProjectOwner)
                    </div>
                </div>
            </div>
        </div>

    </div>
} {
    <div aria-hidden="true" style="display: none;" class="modal donate-form" id="pjax-container">
    @donation.donate(project, donateForm)
    </div>
    <div aria-hidden="true" style="display: none;" class="modal news-form" id="pjax-containerNews">
    @news.newNews(project, newsDataForm)
    </div>
    <script src="@routes.Assets.at("js/donate.js")"></script>
    <script src="@routes.Assets.at("js/newNews.js")"></script>
}
