@(project: models.Project, projectDetail: viewmodels.ProjectDetail, donateForm: Form[viewmodels.donation.CreateDonationData], newsDataForm: Form[viewmodels.NewsData], isAuthenticated: Boolean, isProjectOwner: Boolean)

@main("BringToAfrica") {
    <div class="cause-page content-wrapper" id="page-info">
        <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 left-block">
                        <div class="article-list-large causes-description progressbar">
                                <figure>
                                    <img src="@projectDetail.getProject().getImageURL()" alt="">
                                </figure>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@projectDetail.getState()" aria-valuemin="0" aria-valuemax="100">
                                        <span class="progress-value">@projectDetail.getState()%</span>
                                    </div>
                                </div>

                                <div class="heading-sec text-left">
                                    <h3 class="h4">@project.getTitle()</h3>
                                    <span class="date-desc">Start: @project.getStartsAt()  |  Ende: @project.getEndsAt()</span>
                                    @if(isAuthenticated) {
                                        <a data-toggle="modal" data-target=".donate-form" class="btn btn-default pull-right">Spenden</a>
                                    }
                                </div>
                                @if(isProjectOwner) {
                                    @details.ownerDetail(projectDetail)
                                } else {
                                    @details.userDetail(projectDetail)
                                }
                                <div class="step-donation sec-step-med causes-details-step">
                                    @details.help()
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 left-block ">
                        @details.sidebar(project, isProjectOwner)
                    </div>
                </div>
        </div>
    </div>
} {
    <div aria-hidden="true" style="display: none;" class="modal donate-form" id="pjax-container">
    @donation.donate(project, donateForm)
    </div>
    <div aria-hidden="true" style="display: none;" class="modal news-form" id="pjax-containerNews">
    @news.newNews(project, newsDataForm)
    </div>
    <script src="@routes.Assets.at("js/donate.js")"></script>
    <script src="@routes.Assets.at("js/newNews.js")"></script>
}
