@(projectDetail: viewmodels.ProjectDetail, isProjectOwner: Boolean)

    <div class="tab-pane active" id="first_title">
        <h5>@projectDetail.getProject().getDescription()</h5>
    </div>
    <div class="tab-pane" id="second_title">
        @for(donationGoal <- projectDetail.getProject().getDonationGoals()) {
            <h5>@donationGoal.getType().getName() (@projectDetail.getStateOfDonationGoal(donationGoal) von @donationGoal.getAmount() Stück)</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@projectDetail.getStateOfDonationGoalInPercent(donationGoal)" aria-valuemin="0" aria-valuemax="100">
                    <span class="progress-value">@projectDetail.getStateOfDonationGoalInPercent(donationGoal) %</span>
                </div>
            </div>
        }
    </div>
    @if(isProjectOwner) {
        <div class="tab-pane" id="third_title">
            @if(projectDetail.getDonators().isEmpty()) {
                <h5>Es hat leider noch niemand für dein Projekt gespendet.</h5>
            }
            @for(user <- projectDetail.getDonators()) {
                <h5>@user.getFirstName() @user.getLastName()</h5>
                @for(donation <- projectDetail.getDonationsForUser(user)) {
                    <span> @donation.getDate() </span>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">@donation.getAmount()</span>
                            @donation.getDonationGoal().getType().getName()
                        </li>
                        <li class="list-group-item">
                            @donation.getMessageToCollector()
                        </li>
                    </ul>
                }
            }
        </div>
    }
