@(loginForm: Form[viewmodels.user.LoginForm])
@import helper._

@main("BringToAfrica") {
  <div class="container" id="page-info">
    <div class="row">
      <div class="col-xs-12 col-sm-6 contact-form">
        <h1>Log in</h1>
        @helper.form(action = routes.LoginController.authenticate(), Symbol("data-parsley-validate") -> "") {
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Email" name="email" id="email"required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Passwort" name="password" id="password" required>
          </div>
          <div class="form-group btns-wrapper">
            <button id="btnLogin" type="submit" class="btn btn-default pull-right">Login</button>
            <a href="@routes.RegistrationController.registration()" style="margin-right: 0.5em;"
               class="btn btn-default pull-right">Registrieren</a>
          </div>
        }
      </div>
      @if(loginForm.hasErrors()) {
      <div class="col-xs-12 col-sm-6">
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <p>
          @for((key, value) <- loginForm.errors) {
            @for(err <- value) {
              @err.message().toString() <br/>
            }
          }
          </p>
        </div>
      </div>
      }
      </div>
    </div>
  </div>
} { }
