@(donationsData: viewmodels.donation.MyDonationsData)
@import helper._

@main("BringToAfrica") {
<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <h2 class="h2"><strong>Meine Spenden</strong></h2>
        </div>
    </div>
    @if(donationsData.donations.size() == 0) {
    <div class="row">
        <div class="col-xs-12">
            <h4>Du hast bis jetzt noch keine Spende getätigt.
                <a href="@routes.ProjectController.getProjectWidgets(0)">Jetzt zu den Projekten</a>
            </h4>
        </div>
    </div>
    }


    <div class="article-list  ">
        @for(projectdata <- donationsData.donations) {
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                @ProjectController.getProjectWidget(projectdata.project.getId())
            </div>
            <div class="col-xs-12 col-sm-8">
                <p>@projectdata.date</p>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
                    <li class="active"><a href="#tabSpenden@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Spenden</a></li>
                    <li><a href="#tabNotiz@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Notiz an Projektleiter</a></li>
                    <li><a href="#tabKontakt@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Kontakt</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tabSpenden@donationsData.donations.indexOf(projectdata)">
                        <h5>Meine Spenden</h5>
                        <ul class="list-group mydonation">
                            @for(donation <- projectdata.donations) {
                            <li class="list-group-item">
                                <span class="badge">@donation.getAmount()</span>
                                @donation.getType()
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="tab-pane" id="tabNotiz@donationsData.donations.indexOf(projectdata)">
                        <h5>Notizen</h5>
                        <p>@projectdata.notice</p>
                    </div>
                    <div class="tab-pane" id="tabKontakt@donationsData.donations.indexOf(projectdata)">
                        <h5>Kontaktinformationen</h5>
                        <p>@projectdata.contact</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        }
    </div>

</div>

} { }