@(donationsData: viewmodels.donation.MyDonationsData)
@import helper._

@main("BringToAfrica") {
<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <h2 class="h2"><strong>Meine Spenden</strong></h2>
        </div>
    </div>
    @if(donationsData.donations.size() == 0) {
    <div class="row">
        <div class="col-xs-12">
            <h4>Du hast bis jetzt noch keine Spende getätigt.
                <a href="@routes.ProjectListController.getProjectWidgets(0)">Jetzt zu den Projekten</a>
            </h4>
        </div>
    </div>
    }


    <div class="article-list  ">
        @for(projectdata <- donationsData.donations) {
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                @ProjectController.getProjectWidget(projectdata.project.getId())
            </div>
            <div class="donation-info col-xs-12 col-sm-8">
              <h3>@projectdata.date</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
                    <li class="active"><a href="#tabSpenden@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Meine Spenden</a></li>
                    <li><a href="#tabNotiz@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Notiz an Projektleiter</a></li>
                    <li><a href="#tabKontakt@donationsData.donations.indexOf(projectdata)" role="tab" data-toggle="tab">Kontaktinformationen</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content AddtoCart">
                    <div class="tab-pane active" id="tabSpenden@donationsData.donations.indexOf(projectdata)">
                        <table class="table">
                              <thead>
                              <tr>
                                  <th width="150">Anzahl</th>
                                  <th>Spendengut</th>
                              </tr>
                              </thead>
                              <tbody>
                              @for(donation <- projectdata.donations) {
                              <tr>
                                  <td class="product-image">
                                    @donation.getAmount()
                                  </td>
                                  <td class="product-image">
                                    @donation.getType()
                                  </td>
                              </tr>
                              }
                              </tbody>
                          </table>
                    </div>
                    <div class="tab-pane" id="tabNotiz@donationsData.donations.indexOf(projectdata)">
                        <h5>@projectdata.notice</h5>
                    </div>
                    <div class="tab-pane" id="tabKontakt@donationsData.donations.indexOf(projectdata)">
                        <h5>@projectdata.contact</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        }
    </div>

</div>

} { }
