@()
<header class="page-header section-header">
    <h2>Spende in <strong>drei einfachen Schritten</strong></h2>
</header>

<div class="col-xs-12 text-center">

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">1</span>
            <h4 class="normal-text">Wähle ein Projekt aus, das du gerne unterstützen möchtest</h4>
        </div>
    </div>

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">2</span>
            <h4 class="normal-text">Gib an wieviel du in welcher Kategorie spenden möchtest</h4>
        </div>
    </div>

    <div class="cols-xs-12 col-sm-4">
        <div class="sec-step-desc">
            <span class="number-count">3</span>
            <h4 class="normal-text">Geschafft! Je nach Projekt, kontaktiert dich der Projektleiter selbst oder du nimmst direkt Kontakt auf</h4>
        </div>

    </div>
</div>
