@(widgets: List[viewmodels.ProjectWidget])

@main("BringToAfrica") {
        <div class="content-wrapper cause-page-section" id="page-info">
            <div class="container">
                <!-- Our Causes Section-->
                <section class="our-causes">
                    <div class="anim-section animate">
                        <div class="row">
                            <!-- Article Section Srart Here -->
                            <div class="article-list progressbar">
                                @for(widget <- widgets) {
                                    @ProjectManagement.widget(widget)
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Our Causes Section End-->
                <!--Pagination Section Start Here-->
                <div class="cols-xs-12 anim-section text-center animate">
                    <ul class="pagination">
                        <li>
                            <a href="#">Zurück</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">Weiter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
}
