@(widgets: List[viewmodels.ProjectWidget], pageSize: Int, currentPage: Int)

@main("BringToAfrica") {
        <div class="content-wrapper cause-page-section" id="page-info">
            <div class="container">
                <!-- Our Causes Section-->
                <section class="our-causes">
                    <div class="anim-section animate">
                        <div class="row">
                            <!-- Article Section Srart Here -->
                            <div class="article-list progressbar">
                                @for(widget <- widgets) {
                                    @ProjectManagement.widget(widget)
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Our Causes Section End-->
                <!--Pagination Section Start Here-->
                <div class="cols-xs-12 anim-section text-center animate">
                    <ul class="pagination">
                            @if(pageSize > 1) {
                                @if(currentPage > 1) {
                                    <li>
                                        <a href="@ProjectController.getProjectWidgets(currentPage - 1)">Zurück</a>
                                    </li>
                                }
                                @for(i <- currentPage + 1 to pageSize) {
                                    <li><a href="@ProjectController.getProjectWidgets(i + 1)">@i</a></li>
                                }
                                @if(currentPage < pageSize) {
                                    <li class="active">
                                        <a href="@ProjectController.getProjectWidgets(currentPage + 1)">Weiter</a>
                                    </li>
                                }
                            }
                    </ul>
                </div>
            </div>
        </div>
}
