@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@title</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/bootstrap-theme.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/font-awesome.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("revolution-slider/css/settings.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/global.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/style.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/responsive.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/skin.less")" rel="stylesheet/less">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">
    <!--Header Section Start Here -->
    <header id="header">
        <div class="container">
            <div class="row primary-header">
                <a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Charity"><img src="@routes.Assets.at("img/logo.png")" alt="Charity"></a>
                <div class="social-links col-xs-12 col-sm-10">
                    <a href="volunteer.html" class="btn btn-default btn-volunteer">Become volunteer</a>
                    <ul class="social-icons hidden-xs">
                        <li>
                            <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html">Projects</a>
                            </li>
                            <li>
                                <a href="blog.html">Submit Project</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="contact-us.html">Contact us</a>
                            </li>

                        </ul>
                    </nav>

                    <form class="navbar-form navbar-right search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Here">
                        </div>
                        <button type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>

    </header>
    <!-- Header Section End Here -->

    <!-- Site Content -->
    <div id="main">
        <div class="breadcrumb-section">
        </div>

        <div class="content-wrapper cause-page-section" id="page-info">
            <div class="container">
                <!-- Our Causes Section-->
                <section class="our-causes">
                    <div class="anim-section animate">
                        <div class="row">
                            <!-- Article Section Srart Here -->
                            <div class="article-list progressbar">
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help African children to get shelter</h3>
                                        <a href="causes-detail.html" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-01.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 72%;" class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help girls to get Education</h3>
                                        <a href="causes-detail-with-sidebar.html" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-02.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 60%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">60% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help us to send Vegetables to Africa</h3>
                                        <a href="causes-detail-with-sidebar.html" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-03.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">80% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help Economic Opportunity</h3>
                                        <a href="causes-detail.html" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/slide-banner-01.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 72%;" class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Focusing on Forgotten Rural Community</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-05.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 72%;" class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help Tanzania Female Farmers</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-06.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 72%;" class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help African children to get shelter</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-01.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 72%;" class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">72% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help girls to get Education</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-02.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 60%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">60% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                                <div class="cols-xs-12 col-sm-4 anim-section animate">
                                    <div style="height: 424px;" class="spacer-bottom zoom equal-box">
                                        <h3 class="h5">Help us to send Vegetables to Africa</h3>
                                        <a href="#" class="img-thumb">
                                            <figure>
                                                <img src="assets/img/img-slide-03.jpg" alt="" height="400" width="600">
                                            </figure>
                                        </a>
                                        <div class="progress">
                                            <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                <span class="progress-value">80% </span>
                                            </div>
                                        </div>
                                        <span class="donation">Donation : <span class="value">$78,354 <small>/ $1,26,500</small></span></span>
                                        <p>
                                            Lorem ipsum dolor sit consectetur adipiscing elit ellentesque. Future stuffs also goes...
                                        </p>
                                        <a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">DONATE NOW</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Article Section Srart Here -->
                        </div>
                    </div>
                </section>
                <!-- Our Causes Section End-->
                <!--Pagination Section Start Here-->
                <div class="cols-xs-12 anim-section text-center animate">
                    <ul class="pagination">
                        <li>
                            <a href="#">Prev</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
                <!--Pagination Section End Here-->
            </div>
        </div>
    </div><!-- /.modal-dialog -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="footer-logo">
                        <a href="index.html" title="Welcome to Charity"><img src="assets/img/logo.png" alt="Charity"></a>
                    </div>
                    <address>
                        <span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
                        <span> <i class="fa fa-phone-square"></i> <span>+1 707 921 7269</span> </span>
                        <span> <i class="fa fa-envelope"></i> <span><a href="mailto:contact@@charity.com">contact@@charity.com</a></span> </span>
                    </address>
                </div>
                <div class="col-xs-12 col-sm-4 twitter-update">
                    <h6>Twitter Feed</h6>
                    <p>
                        <a href="#"> <span class="charity">@@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                    </p>
                    <p>
                        <a href="#"> <span class="charity">@@charity</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span> </a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h6>Follow us</h6>
                    <ul class="social-icons">
                        <li>
                            <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://dribble.com/" target="_blank"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li>
                            <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <span> © Copyright 2014, All Rights Reserved by Charity Theme.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- donation form popup -->

<script src="@routes.Assets.at("js/jquery.min.js")"></script>
<script src="@routes.Assets.at("js/less.js")"></script>
<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("js/jquery.easing.min.js")"></script>
<!--Main Slider Js-->
<script src="@routes.Assets.at("revolution-slider/js/jquery.themepunch.plugins.min.js")"></script>
<script src="@routes.Assets.at("revolution-slider/js/jquery.themepunch.revolution.js")"></script>
<!--Main Slider End Js-->
<script src="@routes.Assets.at("js/jquery.flexslider.js")"></script>
<script src="@routes.Assets.at("js/site.js")"></script>
</body>
</html>
