@(donationsData: viewmodels.donation.MyDonationsData)
@import helper._

@main("BringToAfrica") {

    <div class="row">
        <div class="col-xs-12">
            <h2 class="h4">Meine Spenden</h2>
        </div>


    <div class="article-list progressbar">
        @for(projectdata <- donationsData.donations) {
        <div class="row">
            <div class="col-xs-12">
                @ProjectController.getProjectWidget(projectdata.project.getId())
            </div>
        </div>
    </div>
    }
</div>
} { }
