@(newProjectForm: Form[controllers.Project.NewProject])
@import helper._

@main("BringToAfrica") {

    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <ul id="projects"></ul>
        @helper.form(routes.Project.addProject){
            @if(newProjectForm.hasGlobalErrors) {
                <p class="error">
                @newProjectForm.globalError.message
                </p>
            }
            Gib deinem Projekt einen Namen <br />
            <input type="text" name="title"/> <br />
            Beschreibe dein Projekt in ein paar kurzen Sätzen<br />
            <input type="text" name="description"/><br />
            Wann solll deine Spendenaktion starten?<br />
            <input type="date" name="endsAt"><br />
            (optional) Wann solll deine Spendenaktion enden?<br />
            <input type="date" name="startsAt"><br />
            Wie soll die Spender mit dir in Kontakt treten?<br />
            <input type="text" name="contact"/><br />
            <button>Add Project</button>
        }




}