@(projektDataForm: Form[controllers.forms.ProjectData])
@import helper._

@main("BringToAfrica") {
    <script type='text/javascript' src='@routes.Assets.at("js/newProject.js")'></script>
    <ul id="projects"></ul>
    <div class="container" id="page-info">
        <div class="row">
            <div class="col-xs-12">
                <section class="checkout anim-section animate">
                    <div class="row">
                        <div class="tab-wrap col-sm-12">
                                <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs_less-space" role="tablist">
                                <li class="col-sm-4 active"><a href="#projectdata" role="tab" data-toggle="tab">1. Projektdaten</a></li>
                                <li class="col-sm-4"><a href="#waren" role="tab" data-toggle="tab">2. Waren</a></li>
                                <li class="col-sm-4"><a href="#contact" role="tab" data-toggle="tab">3. Kontakt</a></li>
                            </ul>
                            @helper.form(action = routes.Projects.addProjectData, 'role -> "form") {
                                    <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="projectdata">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="title">Gib deinem Projekt einen Namen<span>*</span></label>
                                                    <input class="form-control" id="title" type="text" name="title" value="@projektDataForm("title").value">
                                                </div>
                                                <div class="form-group">
                                                    <label for="imageURL">Füge ein Titelbild hinzu<span>*</span></label>
                                                    <input class="form-control" id="imageURL" type="text" name="imageURL" value="@projektDataForm("imageURL").value">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">
                                                        Beschreibe dein Projekt in ein paar kurzen Sätzen<span>*</span>
                                                    </label>
                                                    <textarea class="form-control" rows="5" cols="10" id="description" name="description" value="@projektDataForm("description").value"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="startsAt">Wann soll deine Spendenaktion starten?<span>
                                                        *</span></label>
                                                    <input class="form-control" id="startsAt" type="date" name="startsAt" value="@projektDataForm("startsAt").value">
                                                </div>
                                                <div class="form-group">
                                                    <label for="endsAt">Wan soll deine Spendenaktion enden?</label>
                                                    <input class="form-control" id="endsAt" type="date" name="endsAt" value="@projektDataForm("endsAt").value">
                                                </div>
                                                <div class="form-group">
                                                    <a href="#waren" role="tab" data-toggle="tab">
                                                        <button id="btnContinue1" class="btn btn-default btn-lg">Weiter</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="waren">
                                        <section class="anim-section AddtoCart animate">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table" id="main-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Anzahl</th>
                                                                <th>Spendengut</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="product-image">
                                                                    <input type="number" id="amount" name="amounts[0]" value="" class="form-control">
                                                                </td>
                                                                <td class="product-image">
                                                                    <input type="text" id="donation" name="donations[0]" value="" class="form-control">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="btns-wrapper">
                                                        <div class="form-group">
                                                            <button id="addGood" type="button" class="btn btn-default" aria-label="Center Align">
                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                            </button>
                                                            <button id="deleteGood" type="button" class="btn btn-default" aria-label="Center Align">
                                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="btns-wrapper">
                                                        <div class="form-group">
                                                            <a href="#contact" role="tab" data-toggle="tab">
                                                                <button id="btnContinue2" class="btn btn-default btn-lg">Weiter</button>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="tab-pane" id="contact">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="country">In welchem Land werden die Spenden verteilt?<span>
                                                        *</span></label>
                                                    <input class="form-control" id="country" type="text" name="country" value="@projektDataForm("country").value" required>
                                                    <label for="city">In welcher Stadt soll gespendet werden?<span>
                                                        *</span></label>
                                                    <input class="form-control" id="city" type="text" name="city" value="@projektDataForm("city").value">
                                                </div>
                                                <div class="form-group">
                                                    <label for="contactInformation">
                                                        Wie sollen die Spender mit dir in Kontakt treten?<span>
                                                        *</span></label>
                                                    <textarea class="form-control" rows="5" cols="10" id="contactInformation" name="contactInformation" value="@projektDataForm("contact").value" required></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <button id="btnContinue3" type="submit" class="btn btn-default btn-lg">Projekt erstellen</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if(projektDataForm.hasErrors()) {
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    @for((key, value) <- projektDataForm.errors) {
                                        @for(err <- value) {
                                            @err.message().toString() <br/>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
