@(loginForm: Form[controllers.forms.Registration])
@import helper._

@main("BringToAfrica") {
  <ul id="projects"></ul>
  <div class="container" id="page-info">
    <div class="row">
      <div class="col-xs-12">
          <!-- Checkout Section Start Here-->
        <section class="checkout anim-section animate">
          <div class="row">
            @helper.form(action = routes.Registrations.register()) {
            <h1>Neues Profil erstellen</h1>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>
                  <input class="form-control" type="text" name="firstname" placeholder="Vorname" value="@loginForm("firstname").value">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>
                  <input class="form-control" type="text" name="lastname" placeholder="Nachname" value="@loginForm("lastname").value">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>
                  <input class="form-control" type="text" name="email" placeholder="Email" value="@loginForm("email").value">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>Wähle ein Passwort, dass mindestens 6 Zeichen lang ist und mindestens ein Sonder- oder Leerzeichen enthält.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>
                  <input class="form-control" type="password" name="password1" placeholder="Passwort" value="@loginForm("password1").value">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>
                  <input class="form-control" type="password" name="password2" placeholder="Passwort bestätigen" value="@loginForm("password2").value">
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11 col-sm-6">
                <p>

                  <button type="submit" class="btn btn-default pull-right">Registrieren</button>


                </p>
              </div>
            </div>

            }
            @if(loginForm.errors.size() > 0) {
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              @for((key, value) <- loginForm.errors) {
                @for(err <- value) {
                  @err.message().toString() <br/>
                }
              }
            </div>
            }
          </div>
        </section>
      </div>
    </div>
  </div>
}